html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.result {
	font-family: monospace;
	white-space: pre;
	padding: 5px;
	background-color: #eee;
}

.result.stale {
	background-color: #ccc;
	color: #555;
}

.error {
	background-color: #fcc;
	color: #800;
}

.entry-section {
	border: 1px solid lightgray;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.prompt {
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}

.input textarea {
	width: 80%;
	font-family: monospace;
}
